* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans";
  font-style: normal;
}
body {
  position: relative;
  width: 1920px;
  height: 5216px;

  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  position: absolute;
  width: 1920px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.main-header_brand {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 14.58%;
  right: 82.25%;
  top: 20px;
}

.main-nav {
  position: absolute;
  display: inline-block;
  text-align: right;
  left: 673px;
  top: 38px;
  height: 25px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #25201d;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 0.2rem 0;
}

.main-header_login_brand {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 110px;
  height: 166px;
  left: 1530px;
  top: 0px;
  overflow: visible;
  z-index: 100;
}

#campus-overview {
  position: absolute;
  width: 1920px;
  height: 790px;
  left: 0px;
  top: 100px;
  color: #ffffff;

  background: linear-gradient(
      0deg,
      rgba(52, 42, 37, 0.7),
      rgba(52, 42, 37, 0.7)
    ),
    url(images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;

  z-index: 0;
  /* padding: 0px;
  margin: 0px; */
}

/* .campus-overview-content {
  position: relative;
  display: block;
} */

.campus-overview-content * {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.campus-overview-content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.campus-overview-content p:first-of-type {
  width: 171px;
  height: 19px;
  left: 280px;
  top: 100px;
}

.campus-overview-content h1 {
  width: 621px;
  height: 180px;
  left: 280px;
  top: 258px;

  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
}

.campus-overview-content h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

.campus-overview-content h4:first-of-type {
  width: 533px;
  height: 80px;
  left: 280px;
  top: 486px;
}

.campus-overview-content .apply-btn {
  width: 237px;
  height: 70px;
  left: 280px;
  top: 630px;

  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  border: none;
}

.campus-overview-content .play-btn {
  width: 120px;
  height: 120px;
  left: 1200px;
  top: 262px;
  border: none;
  border-radius: 50%;

  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
}

.play-btn i {
  position: absolute;
  left: 33.33%;
  right: 20.83%;
  top: 32%;
  bottom: 20.25%;
}

.campus-overview-content #overview-h4-2 {
  width: 197px;
  height: 38px;
  left: 1344px;
  top: 262px;
}

.campus-overview-content h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;

  width: 186px;
  height: 100px;
  left: 1344px;
  top: 308px;
}

.campus-overview-content #overview-p-2 {
  width: 152px;
  height: 19px;
  left: 1344px;
  top: 416px;
  text-transform: uppercase;
}

#short-info1,
#short-info2,
#short-info3,
#short-info4 {
  position: absolute;
  width: 480px;
  height: 400px;
  top: 890px;
}

#short-info1 {
  left: 0px;
}
#short-info2 {
  left: 480px;
}
#short-info3 {
  left: 960px;
}
#short-info4 {
  left: 1440px;
}

.short-info * {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.short-info p {
  width: 286px;
  height: 180px;
  top: 172px;
  left: 48px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.short-info img {
  top: 52px;
  left: 52px;
}

.about-school .orrange-line {
  position: absolute;
  left: 280px;
  top: 1495px;
}

.about-school h1 {
  position: absolute;
  width: 394px;
  height: 82px;
  left: 280px;
  top: 1515px;

  font-weight: 700;
  font-size: 60px;
  line-height: 82px;

  color: #25201d;
}

.about-school p {
  position: absolute;
  width: 542px;
  height: 136px;
  left: 280px;
  top: 1667px;

  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

  color: #000000;
}

.about-school .learn-more {
  box-sizing: border-box;

  position: absolute;
  width: 246px;
  height: 70px;
  left: 280px;
  top: 1867px;

  border: 2px solid #fa5e01;
}

.about-school .learn-more p {
  position: absolute;
  width: 134px;
  height: 48px;
  left: 54px;
  top: 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;

  color: #fa5e01;
}

.about-school .about-school-background {
  background-image: url("images/about-school-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  position: absolute;
  width: 778px;
  height: 464px;
  left: 970px;
  top: 1490px;
  border: none;
  z-index: 1;
}
.about-school .about-school-stat {
  position: absolute;
  width: 920px;
  height: 246px;
  left: 720px;
  top: 1832px;

  background: #fff9f5;
  border: none;
  z-index: 100;
}

#tchr-num,
#std-num,
#grad-num {
  position: absolute;
  top: 64px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  color: #25201d;
}

#tchr-num {
  left: 125px;
}
#std-num {
  left: 333px;
}
#grad-num {
  left: 638px;
}

#tchr-txt,
#std-txt,
#grad-txt {
  position: absolute;

  top: 156px;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #25201d;
}

#tchr-txt {
  left: 120px;
}
#std-txt {
  left: 380px;
}
#grad-txt {
  left: 679px;
}

#apply-fall {
  position: absolute;
  width: 900px;
  height: 295px;
  left: 510px;
  top: 2178px;
}

#apply-fall h2 {
  position: absolute;
  width: 365px;
  height: 54px;
  left: 48px;
  top: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

#apply-fall p {
  position: absolute;
  width: 768px;
  height: 25px;
  left: 48px;
  top: 126px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

#apply-fall .apply-btn {
  position: absolute;
  width: 199px;
  height: 56px;
  left: 48px;
  top: 191px;
  border: none;
  background: #ffffff;
}

#apply-fall .apply-btn span {
  position: absolute;
  width: 115px;
  height: 48px;
  left: 42px;
  top: 4px;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  color: #fa5e01;
}

#principal-quote {
  position: absolute;
  width: 1920px;
  height: 650px;
  left: 0px;
  top: 2813px;
  background: #fff9f5;
}

#principal-quote .principal-img {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 172px;
  bottom: 140px;

  background: url(images/principal_photo.jpg), #d9d9d9;
  background-size: cover;
  background-position: center;
}

#principal-quote .orrange-line {
  position: absolute;
  left: 970px;
  top: 89px;
}

#principal-quote h1 {
  position: absolute;
  width: 666px;
  height: 68px;
  left: 970px;
  top: 109px;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #25201d;
}

#principal-quote .principal-quote-main {
  position: absolute;
  width: 669px;
  height: 180px;
  left: 970px;
  top: 247px;

  font-weight: 400;
  font-size: 26px;
  font-style: italic;
  line-height: 36px;
  color: #25201d;
}

#principal-quote .quote-line {
  position: absolute;
  width: 70px;
  height: 0px;
  left: 970px;
  top: 500px;
  border: 1px solid rgba(37, 32, 29, 0.5);
}

#principal-quote .principal-name {
  position: absolute;
  width: 224px;
  height: 46px;
  left: 1070px;
  top: 477px;
  font-weight: 600;
  font-size: 34px;
  line-height: 46px;
  color: #25201d;
}

#principal-quote .principal-designaion {
  position: absolute;
  width: 259px;
  height: 30px;
  left: 1070px;
  top: 531px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fa5e01;
}

#teachers-section {
  position: absolute;
  width: 1920px;
  height: 950px;
  left: 0px;
  top: 3665px;
  background: #ffffff;
}

#teachers-section .orrange-line {
  position: absolute;
  left: 280px;
  top: 0px;
}

#teachers-section h1 {
  position: absolute;
  width: 400px;
  height: 82px;
  left: 280px;
  top: 20px;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #25201d;
}

#teachers-section .left-arrow-box {
  box-sizing: border-box;
  position: absolute;
  width: 82px;
  height: 82px;
  left: 1477px;
  top: 20px;
  background: #ffffff;
  border: 1px solid #e3e2e1;
}
#teachers-section .left-arrow-box span {
  position: absolute;
  width: 60px;
  left: 15px;
  top: 7.2px;
  font-size: 40px;
  font-weight: 900;
  color: rgba(37, 32, 29, 0.5);
}

#teachers-section .right-arrow-box {
  box-sizing: border-box;
  position: absolute;
  width: 82px;
  height: 82px;
  left: 1558px;
  top: 20px;
  background: #ffffff;
  border: 1px solid #e3e2e1;
}
#teachers-section .right-arrow-box span {
  position: absolute;
  width: 60px;
  left: 15px;
  top: 7.2px;
  font-size: 40px;
  font-weight: 900;
  color: #fa5e01;
}

#teachers-section .cooper-donin-img {
  position: absolute;
  width: 440px;
  height: 440px;
  left: 280px;
  top: 172px;

  background-image: url("images/Cooper\ Donin.jpg");
  background-size: cover;
  background-position: center;
}

#teachers-section .anika-baptista-img {
  position: absolute;
  width: 440px;
  height: 440px;
  left: 740px;
  top: 172px;

  background: linear-gradient(
      180deg,
      rgba(250, 94, 1, 0) 0%,
      rgba(250, 94, 1, 0.6) 100%
    ),
    url("images/Anika\ Baptista.jpg");
  background-size: cover;
  background-position: center;
}

#teachers-section .anika-baptista-img .fb-icon {
  position: absolute;
  left: 28px;
  top: 364px;
}
#teachers-section .anika-baptista-img .twitter-icon {
  position: absolute;
  left: 110px;
  top: 364px;
}
#teachers-section .anika-baptista-img .linked-in-icon {
  position: absolute;
  left: 184px;
  top: 364px;
}

#teachers-section .anika-baptista-img .google-plus-icon {
  position: absolute;
  left: 262px;
  top: 364px;
}

#teachers-section .kaiya-bator-img {
  position: absolute;
  width: 440px;
  height: 440px;
  left: 1200px;
  top: 172px;

  background-image: url("images/Kaiya\ Bator.jpg");
  background-size: cover;
  background-position: center;
}

#teachers-section .cooper-donin-name,
#teachers-section .anika-baptista-name,
#teachers-section .kaiya-bator-name {
  position: absolute;
  width: 226px;
  height: 46px;
  top: 636px;
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #25201d;
}
#teachers-section .cooper-donin-name {
  left: 280px;
}
#teachers-section .anika-baptista-name {
  left: 740px;
}
#teachers-section .kaiya-bator-name {
  left: 1200px;
}

#teachers-section .cooper-donin-designation,
#teachers-section .anika-baptista-designation,
#teachers-section .kaiya-bator-designation {
  position: absolute;
  width: 156px;
  height: 25px;
  top: 700px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #41403f;
}
#teachers-section .cooper-donin-designation {
  left: 280px;
}
#teachers-section .anika-baptista-designation {
  left: 740px;
}
#teachers-section .kaiya-bator-designation {
  left: 1200px;
}

#teachers-section .see-all-teachers {
  position: absolute;
  width: 1360px;
  height: 130px;
  left: 280px;
  top: 795px;
  vertical-align: middle;
  background: #fff9f5;
}

#teachers-section .see-all-teachers .see-all-teachers-title {
  position: absolute;
  width: 383px;
  height: 46px;
  left: 452px;
  top: 42px;
  font-weight: 600;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #fa5e01;
}

#teachers-section .see-all-teachers span {
  position: absolute;
  width: 60px;
  left: 865px;
  top: 35px;
  font-size: 40px;
  font-weight: 900;
  color: #fa5e01;
}

#footer {
  position: absolute;
  width: 1920px;
  height: 428px;
  left: 0px;
  top: 4800px;
}

#footer p {
  position: absolute;
  width: 443px;
  height: 112px;
  left: 280px;
  top: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#footer address {
  position: absolute;
  width: 365px;
  height: 56px;
  left: 316px;
  top: 230px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

#footer .address-icon {
  position: absolute;
  left: 284px;
  top: 232px;
}

#footer .telephone-icon {
  position: absolute;
  left: 283px;
  top: 323px;
}

#footer .tel-num {
  position: absolute;
  width: 139px;
  height: 28px;
  left: 316px;
  top: 318px;

  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.orrange-background {
  background-color: #fa5e01;
  color: #ffffff;
}

.orrange-line {
  width: 150px;
  height: 0px;
  background-color: #fa5e01;
  border: 5px solid #fa5e01;
}
