body {
  font-family: "Open Sans";
  font-style: normal;
  margin: 0;

  position: relative;
  width: 1920px;
  height: 5216px;

  background: #ffffff;
}

.main-header {
  position: absolute;
  width: 1920px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.main-header_brand {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 14.58%;
  right: 82.25%;
  top: 20px;
}

.main-nav {
  position: absolute;
  display: inline-block;
  text-align: right;
  left: 673px;
  top: 38px;
  height: 25px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #25201d;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 0.2rem 0;
}

.main-header_login_brand {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 110px;
  height: 166px;
  left: 1530px;
  top: 0px;
  overflow: visible;
  z-index: 100;
}

#campus-overview {
  position: absolute;
  width: 1920px;
  height: 790px;
  left: 0px;
  top: 100px;
  color: #ffffff;

  background: linear-gradient(
      0deg,
      rgba(52, 42, 37, 0.7),
      rgba(52, 42, 37, 0.7)
    ),
    url(images/image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;

  z-index: 0;
  padding: none;
  margin: none;
}

.campus-overview-content {
  position: relative;
  display: block;
}

.campus-overview-content * {
  position: absolute;
  padding: 0px;
  margin: 0px;
}

.campus-overview-content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.campus-overview-content p:first-of-type {
  width: 171px;
  height: 19px;
  left: 280px;
  top: 100px;
}

.campus-overview-content h1 {
  width: 621px;
  height: 180px;
  left: 280px;
  top: 258px;

  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
}

.campus-overview-content h4 {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

.campus-overview-content h4:first-of-type {
  width: 533px;
  height: 80px;
  left: 280px;
  top: 486px;
}

.campus-overview-content .apply-btn {
  width: 237px;
  height: 70px;
  left: 280px;
  top: 630px;

  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #ffffff;
  border: none;
}

.campus-overview-content .play-btn {
  width: 120px;
  height: 120px;
  left: 1200px;
  top: 262px;
  border: none;
  border-radius: 50%;

  font-weight: 600;
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
}

.play-btn i {
  position: absolute;
  left: 33.33%;
  right: 20.83%;
  top: 32%;
  bottom: 20.25%;
}

.campus-overview-content #overview-h4-2 {
  width: 197px;
  height: 38px;
  left: 1344px;
  top: 262px;
}

.campus-overview-content h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;

  width: 186px;
  height: 100px;
  left: 1344px;
  top: 308px;
}

.campus-overview-content #overview-p-2 {
  width: 152px;
  height: 19px;
  left: 1344px;
  top: 416px;
  text-transform: uppercase;
}

.orrange-background {
  background-color: #fa5e01;
}
